/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* general styles */

.container {
    width: 1300px;
    padding: 32px;
    margin: 0 auto;
}

body {
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    
}

/* header */

.flex-1 {
    display: flex;
    justify-content: space-between;
    margin: 90px 0;
}

.flex-1 p {
   font-size: 20px;
   font-weight: bold;
}

h1,h2 {
    font-size: 50px;
    text-align: justify;
    margin-bottom: 25px;
    font-family: 'Abril Fatface', cursive;
    text-transform: capitalize;
    line-height: 1;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-shadow: 6px 7px 3px rgba(158, 16, 16, 0.432), 3px 6px 2px rgba(34, 30, 30, 0.767);
}

.flex-1 .para1 {
    color: crimson;
    line-height: 1.5;
}

blockquote p {
    margin: 20px 0; 
    font-size: 20px;
    line-height: 1.5;

}


.article2 {
    margin: 40px 0;
}

h2 {
    margin: 50px 0;
}
.article2 p {
    margin: 17px 0; 
    font-size: 20px;
    line-height: 1.6;
    margin: 20px 0;
}






